In [167]:
#################################################
#  Company    : Stevens Institute of Technology
#  Project    : Midterm
#  Purpose    : To use the Gaussian NB methodology
#  First Name : Spruha
#  Last Name  : Paradkar
#  Id		  : 10470967
#  Date       : 11/07/2023
#  Comments   : I pledge my honor that I have abided by the Stevens Honor System
#################################################

In [168]:
print('BTW, there is a typo - Smoker is Somker, I am not changing it')
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import CategoricalNB

BTW, there is a typo - Smoker is Somker, I am not changing it

In [169]:
print('Loading the bp dataset')
bp = pd.read_csv('/Users/spruhap/Desktop/School/Fall23/CS513/midterm/BP.csv')
bp.head(10)

Loading the bp dataset

          Somker  Gender  Age  Height  Weight BP_Status
0  1- Non-smoker  Female   29   62.50     140    Normal
1  1- Non-smoker  Female   41   59.75     194      High
2    3- Moderate  Female   57   62.25     132      High
3  1- Non-smoker  Female   39   65.75     158    Normal
4  1- Non-smoker  Female   58   61.75     131      High
5    3- Moderate  Female   36   64.75     136    Normal
6  1- Non-smoker    Male   53   65.50     130    Normal
7  1- Non-smoker    Male   35   71.00     194    Normal
8       2- Light    Male   52   62.50     129    Normal
9  5- Very Heavy    Male   39   66.25     179    Normal

In [170]:
print('Replacing the string values for Smoker and Gender with int values')
# bp['Somker'] = bp['Somker'].replace('1- Non-smoker', 1)
# bp['Somker'] = bp['Somker'].replace('2- Light', 2)
# bp['Somker'] = bp['Somker'].replace('3- Moderate', 3)
# bp['Somker'] = bp['Somker'].replace('4- Heavy', 4)
# bp['Somker'] = bp['Somker'].replace('5- Very Heavy', 5)
# bp['Gender'] = bp['Gender'].replace('Female', 0)
# bp['Gender'] = bp['Gender'].replace('Male', 1)
bp = bp.astype('category')
bp['Somker'] = bp['Somker'].cat.codes
bp['Gender'] = bp['Gender'].map({'Male': 1, 'Female': 0})

Replacing the string values for Smoker and Gender with int values

In [171]:
print('Creating a data frame called target for the BP_Status variable')
target = bp['BP_Status'] # target variable
target.head(10)

Creating a data frame called target for the BP_Status variable

0    Normal
1      High
2      High
3    Normal
4      High
5    Normal
6    Normal
7    Normal
8    Normal
9    Normal
Name: BP_Status, dtype: category
Categories (2, object): ['High', 'Normal']

In [172]:
print('Dropping the BP_Status field')
# Splitting the dataset
attributes = bp.drop('BP_Status', axis=1)
attributes.head(10)

Dropping the BP_Status field

   Somker Gender Age Height Weight
0       0      0  29  62.50    140
1       0      0  41  59.75    194
2       2      0  57  62.25    132
3       0      0  39  65.75    158
4       0      0  58  61.75    131
5       2      0  36  64.75    136
6       0      1  53  65.50    130
7       0      1  35  71.00    194
8       1      1  52  62.50    129
9       4      1  39  66.25    179

In [173]:
#RANDOM_STATE helps to keep the data consistent -> it keeps the values consistent when you run the code again
print('Dividing the data into test and train data given the 30/70 split ratio')
attribute_train, attribute_test, target_train,target_test  = train_test_split(attributes, target,test_size = 0.3, random_state = 6)

Dividing the data into test and train data given the 30/70 split ratio

In [174]:
model = CategoricalNB()
# given your model of choice, we now train the model with our train sets which we get from above and then we predict based on our test data
model.fit(attribute_train, target_train)
target_pred = model.predict(attribute_test)

In [175]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
# Evaluate the accuracy, and other details
accuracy = accuracy_score(target_test, target_pred)
print(f'Accuracy: {accuracy}')
print()
print(confusion_matrix(target_test, target_pred))
print()
print('Classification Report')
print(classification_report(target_test, target_pred))

Accuracy: 0.6124148372445117

[[448 214]
 [298 361]]

Classification Report
              precision    recall  f1-score   support

        High       0.60      0.68      0.64       662
      Normal       0.63      0.55      0.59       659

    accuracy                           0.61      1321
   macro avg       0.61      0.61      0.61      1321
weighted avg       0.61      0.61      0.61      1321